*{
    font-family: "Roboto",sans-serif;
}
#bold{
    font-weight: 800;
}

.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link:active{
    font-weight: 600;
}

.skillset li img{
    width: 2.5rem;
    height: 2.5rem;
}

.carousel-inner .carousel-item img{
    width: 40rem;
    height: 32rem;
}
.navbar-toggler {
    border-color: white;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
    border-color: white;
}
.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba%28255, 255, 255, 1%29" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}

#footer img{
    width: 1.4rem;
    height: 1.4rem;
    margin-left: 2rem;
}